//-  Main_layout (Master Page)
extends _layout

block append head
  style.
    body: {background-color: #fff !important;}

//- Varialbes 
block append variables
  - page_tab_title = "Take Attendance"
  - page_primary_heading = "Student List"
  - 
    console.log(students)


//- Page Content 
block content-fluid
  .row
    h3 Jquery

  form(action='', id='attendance_submit_form')
    .row 
      h1 #{message}
    .row  
      a.btn.btn-info(href='#' id='register_student_btn') Add Student           
      a.btn.btn-info() Absent all
    .row
      // Table.
      table#student_list.table.table-fixed
        // Table head
        thead
          tr
            th.th-lg(width='2%')
              a  Temp
            th.th-lg(width='4%')
              a  Sr
            th.th-lg
              a  img 
            th.th-lg
              a  Full Name 
            th.th-lg
              a  Roll
            th.th-lg
              a  Actions
        each stud,i in students
          tr(class='row_present', onClick='myApp.attendance_togle_btn()' )
            td#present_absent_handler
              input.radio_btn(type='radio', name=stud.id, value='1', checked)
              input.radio_btn(type='radio', name=stud.id, value='0',)
            td.sr=i+1
            td(width='10%')
              img.img-responsive.rounded-circle(height='50', width='50' alt='img', src='/uploads/'+stud.profile_pic)
            td(style='max-width:50px')=stud.name
            td=stud.roll_no
            td.td-actions.text-right
              .dropdown.pull-left
                button.btn.btn-round.btn-info.dropdown-toggle(type='button', data-toggle='dropdown')
                  i.material-icons build
                  span.caret
                  .ripple-container
                ul.dropdown-menu.dropdown-menu-right(role='menu')
                  li
                    a(href='#') View 
                  li
                    a(href='#') Edit
                  li
                    a.delete_student_btn() Delete